# SKIP Inference Errors for NON-API models
SKIP_ERR=1
# The Barrier Timeout for NON-API models
DIST_TIMEOUT=28800
# Print both Vanilla and Circular Acc for a Circular Benchmark (see MMBench paper for the definition of circular evaluation)
PRINT_VANILLA=1
# Judge Router for LLM-based extraction and evaluation (see vlmeval/dataset/utils/judge_util.py for more details)
JUDGE_ROUTER=modelcard
# Replace corrupted images with a placeholder gray image, use if some corrupted images in your dataset file and you don't want to fix it
SKIP_CORRUPTED_IMAGE=1
# SPLIT_THINK Flag: If set, will only keep response out of think tags. The raw predictions will be saved to `raw_prediction`
SPLIT_THINK=1
# Summarization Directory, evaluation results yielded by `multi_run_api.py` will be gathered in a json there
# SUMM_DIR=
# Set the max image size (in pixels) for VLMEvalKit to accept, default is 36M Pixels
VLMEVAL_MAX_IMAGE_SIZE=36000000
VLMEVAL_MAX_IMAGE_BYTES=10000000
# Set the min image edge length (in pixels) for VLMEvalKit to accept, default is 672
# VLMEVAL_MIN_IMAGE_EDGE=672

# Set if you want to use Doubao API from VOLC engine (see vlmeval/api/doubao_vl_api.py)
DOUBAO_VL_KEY=
DOUBAO_VL_ENDPOINT_DOUBAO_1_5_THINKING_VISION_PRO_250428=<SET_IT_TO_THE_CORRESPONDING_ENDPOINT>
# Set if you want to use OpenAI API, official or third-party (see vlmeval/api/gpt.py)
OPENAI_API_KEY=
OPENAI_API_BASE=
# Set if you want to use GPT OpenAPI (see vlmeval/api/openapi.py)
OPENAPI_KEY=
# Set if you want to use OpenRouter API (see vlmeval/api/openrouter.py)
OPENROUTER_API_KEY=
